body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f4f8; /* Light gray background */
    color: #333; /* Dark gray text color */
    background-image: url('../../assets/img/background.png'); /* Adjust path as necessary */
    background-size: cover; /* Adjust as needed */
    background-position: center center; /* Adjust as needed */
    background-repeat: no-repeat; /* Adjust as needed */
}

header {
    background-color: #000; /* Black header background */
    color: #fff; /* White text color */
    padding: 1rem;
    text-align: center;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 1rem;
}

nav ul li a {
    color: #fff; /* White navigation link color */
    text-decoration: none;
    font-weight: bold;
}

main {
    padding: 2rem;
}

h3 {
    color: #555; /* Dark gray for headings */
}

.buttons {
    margin-top: 1rem;
}

.button {
    display: inline-block;
    background-color: #007bff;
    color: #fff;
    text-decoration: none;
    padding: 10px 20px;
    margin: 10px;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.button:hover {
    background-color: #0056b3;
}

footer {
    background-color: #000; /* Black footer background */
    color: #fff; /* White text color */
    text-align: center;
    padding: 1rem;
    position: fixed; /* Fixed position at the bottom */
    bottom: 0;
    width: 100%;
}
